<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Accommodations</title>
</head>
<body>
<div class="container mt-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Number of rooms</th>
            <th scope="col">Host name</th>
            <th scope="col">Availability</th>
            <th scope="col">Functionalities</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="acc : ${accom}">
            <td th:text="${acc.getName()}"></td>
            <td th:text="${acc.getCategory().toString()}"></td>
            <td th:text="${acc.getNumRooms()}"></td>
            <td th:if="${acc.getHost() != null}" th:text="${acc.getHost().getName()}"></td>
            <td th:if="${!acc.isBooked()}">
                <th:block>
                    <form th:method="post" th:action="@{'/book/accom/{id}' (id=${acc.getId()})}">
                        <button class="btn btn-info" type="submit">Book here</button>
                    </form>
                </th:block>
            </td>
            <td th:if="${acc.isBooked()}">
                <span>Already Booked</span>
            </td>
            <td>
                <form th:method="post" th:action="@{'/delete/accom/{id}' (id=${acc.getId()})}">
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
                <a clas="mt-2" th:href="@{'/edit/{id}'(id=${acc.getId()})}"><button class="btn btn-warning">Edit </button></a>
            </td>

        </tr>
        </tbody>
    </table>
    <div class="container">
        <a href="/add/accom">Add a new accommodation</a>
    </div>
</div>
</body>
</html>